/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/

@import url("izitoast/dist/css/iziToast.min.css");
@import url('./reset.css');
@import url('./loader.css');
@import url('./gallery.css');



body{
font-family: Montserrat, sans-serif;
font-size: 12px;
font-weight: 400;
line-height: 16px; 
letter-spacing: 0.04em;
color: #2E2F42;
}

.iziToast>.iziToast-close {
  background: url('../img/cross.svg') no-repeat 50% 50%;
  background-size: 16px;
  opacity: 1;
}

.container{
  width: 200px;
  height: 200px;
  margin: 85px auto;
}